@import url(//fonts.googleapis.com/css?family=Questrial);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
/* Stuck menu styles
========================================================*/
.isStuck {
	padding: 0 32px;
	z-index: 9999;
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	background: #3b3b3b;
}
.isStuck nav.tm_navbar li a {
	line-height: 56px;
}
.isStuck.indent {
	background: #000;
	background: rgba(0, 0, 0, 0.75);
}
.isStuck h1.navbar-brand_ {
	margin: 5px 0 0 0;
}
.isStuck h1.navbar-brand_ img {
	width: 60%;
}
@media only screen and (max-width: 979px) {
 .isStuck {
 display: none !important;
}
}
/*========================================================
                    Main layout styles
=========================================================*/
body {
	background: #0b9093;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #76d8da;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	color: #ffffff;
	margin-bottom: 23px;
	line-height: 20px;
}
p strong {
	color: #ffffff;
	font-weight: normal;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: none;
	height: auto;
}
h1.navbar-brand_ a {
	display: inline-block;
}
h1.navbar-brand_ a img {
	width: 100%;
}
h2 {
	font: 60px/60px 'Questrial';
	margin: 0 0 16px 0;
}
h2 i {
	display: block;
	width: 197px;
	margin: 0 0 16px 0;
	border-top: 1px solid #42a9ac;
}
h2.indent {
	margin: 0 0 36px 0;
}
h3 {
	font: 36px/42px 'Questrial';
	color: #FFAF6D;
	letter-spacing: 1px;
	margin: 0 0 34px 0;
}
h3 i {
	display: block;
	width: 197px;
	margin: 0 0 16px 0;
	border-top: 1px solid #42a9ac;
}
h4 {
	font: 18px/20px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f0f2c8;
	margin: 0 0 22px 0;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 0;
	background: #057378;
}
.global.indent {
	padding: 91px 0 0 0;
	background: #057378;
}
.global.indent1 {
	padding: 53px 0 0 0;
	background: #057378;
}
.center {
	text-align: center;
}
/*========================================================
                    header
=========================================================*/

header {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 11;
	text-align: center;
	overflow: hidden;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
header .box {
	position: relative;
	padding: 0;
}
header .box strong {
	position: absolute;
	right: -100%;
	bottom: 0;
	width: 100%;
	height: 133px;
	display: inline-block;
	background: #fff8cb;
	background: rgba(255, 248, 203, 0.55);
}
header .box em {
	position: absolute;
	left: -100%;
	bottom: 0;
	width: 100%;
	height: 133px;
	display: inline-block;
	background: #fff8cb;
	background: rgba(255, 248, 203, 0.55);
}
/* menu
========================================================*/
nav.tm_navbar {
	border: none;
	padding: 0;
	margin: 0;
	float: none;
	display: block;
	text-align: center;
	min-height: 0;
	background: none;
}
nav.tm_navbar ul {
	display: table;
	table-layout: fixed;
	width: 100%;
}
nav.tm_navbar ul::after, nav.tm_navbar ul::before {
 display: none;
}
nav.tm_navbar li {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	border-right: 1px solid transparent;
	float: none;
	display: table-cell;
}
nav.tm_navbar li:first-child {
	border-left: 1px solid transparent;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0;
	font: 14px/133px 'Questrial';
	color: #02686d;
	text-align: center;
	text-transform: uppercase;
	background: #fff8cb;
	background: rgba(255, 248, 203, 0.55);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar li.active span {
	color: #fff8cb;
}
nav.tm_navbar li.active > a {
	color: #fff8cb;
	background: transparent;
}
nav.tm_navbar li:hover span {
	color: #fff8cb;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar li:hover > a {
	color: #fff8cb;
	background: transparent;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sfHover span {
	color: #fff8cb;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sfHover > a {
	color: #fff8cb;
	background: transparent;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar li span {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	color: #02686d;
	font-size: 14px;
	z-index: 0;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
/* subMenu1
========================================================*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 133px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #fff8cb;
	background: rgba(255, 248, 203, 0.55);
	padding: 22px 0 0 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}
nav.tm_navbar .sub-menu > ul li {
	position: relative;
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
	display: block;
}
nav.tm_navbar .sub-menu > ul > li a {
	display: block;
	background: transparent;
	padding: 0;
	margin: 0;
	font: 14px/34px 'Questrial';
	color: #02686d;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	border: none;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
nav.tm_navbar .sub-menu > ul li span {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 8px;
	left: auto;
	width: auto;
	color: #ffffff;
	font-size: 14px;
}
nav.tm_navbar .sub-menu ul > li:hover span {
	color: #02686d;
}
nav.tm_navbar .sub-menu ul > li:hover > a {
	text-decoration: none;
	color: #fff8cb !important;
	background: #02686d;
	background: rgba(2, 104, 109, 0.55);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
nav.tm_navbar .sub-menu ul li.sfHover span {
	color: #02686d;
}
nav.tm_navbar .sub-menu ul li.sfHover > a {
	text-decoration: none;
	color: #fff8cb !important;
	background: #02686d;
	background: rgba(2, 104, 109, 0.55);
}
/* subMenu2
========================================================*/
nav.tm_navbar .sub-menu ul ul {
	position: relative;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
nav.tm_navbar .sub-menu ul ul li a {
	display: block;
	background: transparent;
	padding: 0;
	margin: 0;
	font: 14px/34px 'Questrial';
	color: #02686d;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	border: none;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
nav.tm_navbar .sub-menu ul ul li a:hover {
	text-decoration: none;
	color: #fff8cb !important;
	background: #02686d;
	background: rgba(2, 104, 109, 0.55);
}
.select-menu {
	display: none !important;
}
/*========================================================
                    -Content-
=========================================================*/
.container1{
  margin-top: -200px;
	padding-bottom: 0px;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 80px;
	right: 30px;
	overflow: hidden;
	border: none;
	color: #ffffff;
	font-size: 31px;
	z-index: 20;
	-webkit-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}
#toTop:hover {
	outline: none;
	color: #4fbcc0;
}
.trainerBox {
	margin-bottom: 38px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.who-box {
	border-bottom: 1px solid #0b9093;
	margin-bottom: 68px;
}
.who-box .col-lg-4 {
	margin-bottom: 45px;
}

.bg_pic {
	background: #0b9093;
	margin-top: -133px;
	padding: 204px 0 56px 0;
	text-align: left;
	overflow: hidden;
}
.bg_pic.indent {
	background: #0b9093 url(../img/bg_pic.png) center 0 no-repeat;
	padding: 523px 0 80px 0;
}
.bg_pic p {
	font: 36px/40px 'Questrial';
	color: #fff8cb;
	margin-bottom: 60px;
}
.follow_icon {
	padding: 0;
	margin: 0 0 24px 0;
	list-style: none;
	display: block;
	overflow: hidden;
}
.follow_icon li {
	float: left;
	margin-right: 22px;
}
.follow_icon li a {
	font-size: 16px;
	color: #00575b;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.follow_icon li a:hover {
	color: #fff8cb;
}
.thumb-box1 {
	background: #F57912;
	overflow: hidden;
}
.thumb-box1 .title2 {
	font: 24px 'Questrial';
	color: #fff8cb;
	margin-bottom: 5px;
	letter-spacing: 2px;
}
.thumb-box1 .title3 {
	font: 60px 'Questrial';
	color: #fff8cb;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
.thumb-box1 .title4 {
	font: 24px/28px 'Questrial';
	color: #fff8cb;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 2px;
	position: relative;
	display: inline-block;
}
.thumb-box1 .title4 span {
	font-size: 36px;
}
.thumb-box1 .title4::after {
 position: absolute;
 right: -77px;
 bottom: 0;
 width: 1px;
 height: 100%;
 content: '';
 background: #42a9ac;
}
.thumb-box1 .col-lg-5, .thumb-box1 .col-lg-7 {
	margin-bottom: 50px;
}
.thumb-box2 {
	border-bottom: 1px solid #0b9093;
	overflow: hidden;
}
.thumb-box2 figure img {
	width: 100%;
}
.thumb-box2 h2 {
	margin-top: 66px;
	color: #76d8da;
}
.thumb-box2.indent {

}
.thumb-box3 {
	border-bottom: 1px solid #0b9093;
	background: #F57912;
	overflow: hidden;
}
.thumb-box3 figure img {
	width: 100%;
}
.thumb-box3 h2 {
	color: #FFAF6D;
	margin-top: 66px;
}
.thumb-box3.indent {

}
.thumb-box3.indent1 {
	padding-bottom: 30px;
}
.thumb-box4 {
	padding-bottom: 22px;
	border-bottom: 1px solid #0b9093;
	overflow: hidden;
}
.thumb-box4 figure img {
	width: 100%;
}
.thumb-box4 h2 {
	color: #75d7d9;
	margin-top: 66px;
}
.thumb-box5 {
	padding-bottom: 30px;
}
.thumb-box5 img {
	margin-bottom: 24px;
}
.thumb-box5 p {
	font-style: italic;
}
.thumb-box5 hr {
	display: block;
	width: 197px;
	margin: 0 0 25px 0;
	border-top: 1px solid #368b8e;
}
.thumb-box5 a {
	font: 18px 'Questrial';
	color: #ffffff;
	letter-spacing: 2px;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-box5 a:hover {
	color: #76d8da;
}
.thumb-box5 .col-lg-3 {
	margin-bottom: 35px;
}
/*------------------isotop items------------------*/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	overflow: visible;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.izotopeBox {
	overflow: hidden;
	padding-bottom: 35px;
}
.izotope-box {
	margin: 0 0 0 -30px;
}
.element {
	display: block;
	position: relative;
	border: none;
	margin: 0 !important;
	height: auto !important;
	padding: 0 0 41px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#options .pagination {
	margin: 0;
	display: block;
	border-radius: 0;
}
#filters {
	position: relative;
	padding: 20px 0 22px 0;
}
#filters li {
	display: inline-block;
	margin-right: 16px !important;
	margin-bottom: 16px;
	overflow: hidden;
}
#filters li a {
	padding: 0 35px;
	border-radius: 0 !important;
	font: 18px/56px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #76d8da;
	margin: 0;
	background: none !important;
	text-decoration: none;
	border: 1px solid #32898c;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
#filters li a:hover {
	text-decoration: none;
	color: #0b9093 !important;
	background: #fff8cb !important;
	border-color: #fff8cb;
}
#filters li a.selected {
	text-decoration: none;
	color: #0b9093 !important;
	background: #fff8cb !important;
	border-color: #fff8cb;
}
/*-----carousel-----*/
.list_carousel1.responsive {
	position: relative;
	width: auto;
	margin: 0;
	z-index: 0;
}
.list_carousel1 #foo1 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	cursor: default;
}
.list_carousel1 #foo1 > li {
	padding: 0;
	float: left;
	cursor: default;
	margin-right: 0;
}
.list_carousel1 #foo1 > li figure {
	position: relative;
}
.list_carousel1 #foo1 > li figure img {
	width: 100%;
}
.list_carousel1 #foo1 > li figure:hover i {
	-webkit-transform: translateY(0) translateX(0) scale(1);
	transform: translateY(0) translateX(0) scale(1);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 1;
	filter: alpha(opacity=100);
}
.list_carousel1 #foo1 > li figure i {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 57px 0 0 0;
	top: 0;
	left: 0;
	display: block;
	text-align: center;
	background: #db9f3c;
	background: rgba(219, 159, 60, 0.8);
	font-weight: normal;
	-webkit-transform: translateY(0) translateX(0) scale(0.25);
	transform: translateY(0) translateX(0) scale(0.25);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.list_carousel1 #foo1 > li span {
	color: #ffffff;
	font: bold 36px/36px 'Roboto Slab';
	letter-spacing: 2px;
	margin: 0 0 4px 0;
}
.list_carousel1 #foo1 > li strong {
	color: #ffffff;
	font: bold 14px 'Roboto Slab';
	text-transform: uppercase;
	display: block;
	letter-spacing: 4px;
	margin: 0;
}
.list_carousel1.responsive .caroufredsel_wrapper {
	cursor: default !important;
	margin-bottom: 18px !important;
}
.list_btn1 .prev2, .list_btn1 .next2 {
	display: inline-block;
	cursor: pointer;
	margin: 0 4px;
	width: 9px;
	height: 17px;
}
.list_btn1 {
	text-align: right;
}
.list_btn1 .next2 {
	background: url(../img/list_point.png) 0 top no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list_btn1 .next2:hover {
	background: url(../img/list_point.png) 0 bottom no-repeat;
}
.list_btn1 .prev2 {
	background: url(../img/list_point.png) 0 top no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list_btn1 .prev2:hover {
	background: url(../img/list_point.png) 0 bottom no-repeat;
}
.list_carousel2.responsive {
	position: relative;
	width: auto;
	margin: 0;
	z-index: 0;
}
.list_carousel2 #foo2 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	cursor: default;
}
.list_carousel2 #foo2 > li {
	padding: 0;
	float: left;
	cursor: default;
	margin-right: 30px;
}
.list_carousel2 #foo2 > li .title {
	font: 36px/41px 'Roboto Slab';
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 27px;
}
.list_carousel2 #foo2 > li .title span {
	font-size: 60px;
}
.list_carousel2.responsive .caroufredsel_wrapper {
	cursor: default !important;
}
.list_btn2 .prev2, .list_btn2 .next2 {
	display: inline-block;
	cursor: pointer;
	margin: 0 4px;
	width: 9px;
	height: 17px;
}
.list_btn2 {
	text-align: right;
}
.list_btn2 .next2 {
	background: url(../img/list_point.png) 0 top no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list_btn2 .next2:hover {
	background: url(../img/list_point.png) 0 bottom no-repeat;
}
.list_btn2 .prev2 {
	background: url(../img/list_point.png) 0 top no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list_btn2 .prev2:hover {
	background: url(../img/list_point.png) 0 bottom no-repeat;
}
/* thumbs
========================================================*/
.thumb-pad1 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .title {
	margin: 0;
	font: 72px 'Questrial';
	color: #fff8cb;
	text-transform: uppercase;
	padding: 13px 0 0 0;
	border-top: 1px solid #42a9ac;
	width: 70px;
	float: left;
	margin-right: 30px;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption p {
	margin: 0;
}
.thumb-pad1 figure {
	margin: 0;
	position: relative;
}
.thumb-pad1 figure img {
	width: 100%;
}
.thumb-pad1 figure time {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 0 9px;
	display: block;
	background: #000000;
	font: bold 21px/34px 'Roboto Slab';
	color: #ffffff;
	text-transform: uppercase;
}
.thumb-pad1 figure div {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.thumb-pad1 figure div p {
	font: bold 27px/34px 'Roboto Slab';
	text-transform: uppercase;
	color: #ffffff;
	background: #000000;
	padding: 0 9px;
	margin: 0;
	display: inline-block;
}
.thumb-pad1 figure div.box1 p {
	color: #000000;
	background: #ffffff;
}
.thumb-pad2 {
	margin: 0 0 30px 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	position: relative;
}
.thumb-pad2 figure {
	margin: 0;
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad2 .thumbnail .caption {
	position: absolute;
	top: 192px;
	left: 0;
	padding: 0 30px;
	color: #76d8da;
}
.thumb-pad2 .thumbnail .caption .title {
	color: #ffffff;
	font: 83px/83px 'Roboto Slab';
	margin: 0 0 13px 0;
}
.thumb-pad2 .thumbnail .caption .description {
	color: #ffffff;
	font: 53px/59px 'Roboto Slab';
	text-transform: uppercase;
	margin: 0 0 9px 0;
}
.thumb-pad2 .thumbnail .caption p {
	margin-bottom: 43px;
}
.thumb-pad3 {
	margin-bottom: 5px;
	overflow: hidden;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	color: #76d8da;
}
.thumb-pad3 .thumbnail .caption p {
	margin-top: 23px;
}
.thumb-pad3 .thumbnail .caption .price {
	font: 24px 'Rosario';
	color: #4b4c4c;
	margin: 0;
}
.thumb-pad3 .thumbnail .caption a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #64c1bd;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad3 .thumbnail .caption a:hover {
	color: #4b4c4c;
}
.thumb-pad3 .thumbnail figure {
	margin: 0 29px 0 0;
	float: left;
}
.thumb-pad3 .thumbnail figure img {
	width: 100%;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad4 figure {
	margin: 0 0 23px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin: 0 0 40px 0;
	overflow: hidden;
	background: #4f566b;
}
.thumb-pad5 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad5 .thumbnail .caption {
	padding: 20px 20px 35px 20px;
}
.thumb-pad5 .thumbnail .caption p {
	margin: 0;
}
.thumb-pad5 .thumbnail .caption a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5 .thumbnail .caption a:hover {
	color: #e2b263;
}
.thumb-pad5 figure {
	margin: 0;
}
.thumb-pad5 figure img {
	width: 100%;
}
.thumb-pad6 {
	overflow: hidden;
	border-bottom: 4px solid #368b8e;
	background: transparent;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad6:hover {
	background: #368b8e;
}
.thumb-pad6 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad6 .thumbnail .caption {
	padding: 31px 20px 23px 20px;
	overflow: hidden;
	color: #76d8da;
}
.thumb-pad6 .thumbnail .caption a {
	color: #ffffff;
	font: 24px 'Questrial';
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad6 .thumbnail .caption a:hover {
	color: #76d8da;
}
.thumb-pad6 .thumbnail .caption p {
	margin: 7px 0 0 0;
}
.thumb-pad6 .thumbnail figure {
	margin: 0;
	position: relative;
}
.thumb-pad6 .thumbnail figure img {
	width: 100%;
}
.thumb-pad6 .thumbnail figure:hover i {
	-webkit-transform: translateY(0) translateX(0) scale(1);
	transform: translateY(0) translateX(0) scale(1);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 1;
	filter: alpha(opacity=100);
}
.thumb-pad6 .thumbnail figure i {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	display: block;
	background: #0b9093 url(../img/box) center center no-repeat;
	background: rgba(54, 139, 142, 0.6) url(../img/box) center center no-repeat;
	font-weight: normal;
	-webkit-transform: translateY(0) translateX(0) scale(0.25);
	transform: translateY(0) translateX(0) scale(0.25);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.thumb-pad7 {
	margin: 0 0 65px 0;
	overflow: hidden;
}
.thumb-pad7 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad7 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad7 .thumbnail .caption p {
	margin-bottom: 0;
}
.thumb-pad7 .thumbnail .caption a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad7 .thumbnail .caption a:hover {
	color: #e2b263;
}
.thumb-pad7 .thumbnail figure {
	margin: 0 0 20px 0;
}
.thumb-pad7 .thumbnail figure img {
	width: 100%;
}
.thumb-pad8 {
	margin: 0;
}
.thumb-pad8 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad8 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #76d8da;
}
.thumb-pad8 .thumbnail .caption a {
	font: 16px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad8 .thumbnail .caption a:hover {
	color: #5fd0eb;
}
.thumb-pad8 .thumbnail .caption p {
	margin-bottom: 13px;
}
.thumb-pad8 figure {
	margin: 0 30px 0 0;
	float: left;
}
/* btn
========================================================*/
.btn-default.btn1 {
	box-shadow: none;
	text-decoration: none !important;
	position: relative;
	display: inline-block;
	padding: 13px 30px 0 0;
	font: 24px 'Questrial';
	margin: 0;
	text-shadow: none;
	border-radius: 0;
	letter-spacing: 3px;
	color: #ffffff;
	background: none;
	background: url(../img/list_point.png) right 40px no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn1 a {
	color: #ffffff;
}
.btn-default.btn1 i {
	display: block;
	width: 197px;
	margin: 0 0 16px 0;
	border-top: 1px solid #42a9ac;
}
.btn-default.btn1 a:hover {
	color: #fff8cb;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 {
	box-shadow: none;
	text-decoration: none !important;
	position: relative;
	display: inline-block;
	padding: 0 15px 0 0;
	font: 24px 'Questrial';
	margin: 0;
	text-shadow: none;
	border-radius: 0;
	letter-spacing: 3px;
	color: #ffffff;
	background: none;
	background: url(../img/list_point.png) right 10px no-repeat;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 a {
	color: #ffffff;
}
.btn-default.btn2 i {
	display: block;
	width: 197px;
	margin: 0 0 16px 0;
	border-top: 1px solid #42a9ac;
}
.btn-default.btn2 a:hover {
	color: #fff8cb;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2:hover {
	color: #fff8cb;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
/* list
========================================================*/
.list1-1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: left;
}
.list1-1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 10px;
	padding-left: 20px;
	background: url(../img/list_point.png) left 8px no-repeat;
}
.list1-1 li a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff8cb;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list1-1 li a:hover {
	color: #4fbcc0;
}
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list1 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin: 0 30px 30px 0;
	float: left;
	height: 52px;
}
.list1 li a {
	display: inline-block;
}
.list1 li a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 30px;
	padding: 0;
}
.list2 li time {
	font: 50px/54px 'Roboto Slab';
	color: #ffffff;
	width: 73px;
	margin-right: 30px;
	display: inline-block;
	letter-spacing: 2px;
	float: left;
}
.list2 li time span {
	display: block;
	font-size: 60px;
	text-transform: uppercase;
}
.list2 li p {
	margin-bottom: 0;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list3 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 48px;
}
.list3 li p {
	margin-bottom: 0;
}
.list3 li .badge {
	width: 79px;
	height: 79px;
	background: none;
	text-align: center;
	border: 2px solid #2a888c;
	font: 36px/79px 'Questrial';
	color: #2a888c;
	border-radius: 100%;
	padding: 0;
	margin: 0 16px 0 0;
	float: left;
}
.list3 li figure {
	margin: 3px 20px 0 0;
	float: left;
}
.list4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list4 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 27px;
	overflow: hidden;
}
.list4 li p {
	margin-bottom: 21px;
}
.list4 li img {
	float: left;
	margin-right: 21px;
	margin-top: 7px;
}
.list4 li a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list4 li a:hover {
	text-decoration: none;
	color: #db9f3c;
}
.list5 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list5 li {
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
.list5 li a {
	color: #ff5d5c;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list5 li a:hover {
	color: #76d8da;
}
.list5 li:last-child {
	border-bottom: none;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 26px;
	overflow: hidden;
}
.list6 li p {
	margin-bottom: 0;
}
.list6 li time {
	color: #74c0bc;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
	margin-right: 6px;
}
.list7 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list7 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 0;
}
.list7 li .badge {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	border-radius: 100%;
	background: #74c0bc;
	text-align: center;
	line-height: 52px;
	color: #ffffff;
	font-size: 24px;
	float: left;
	margin-right: 12px;
	margin-top: 6px;
}
.list7 li .title {
	text-transform: uppercase;
	color: #74c0bc;
	font: 300 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 11px;
}
.list8 {
	margin: 0;
	padding: 0 0 41px 0;
	list-style: none;
}
.list8 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 20px;
}
.list8 li strong {
	color: #ffffff;
}
/* search
========================================================*/
#search-404 {
	position: relative;
	margin: 54px 0 94px 0;
	overflow: hidden;
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #4fbcc0;
	background: #0b9093;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #ffffff;
	padding: 10px 14px;
	height: 40px;
	margin-bottom: 40px;
	resize: none;
}
#search {
	margin: 8px 0 0 0;
	position: relative;
	float: right;
}
#search a {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}
#search a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 270px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.5);
	font: 13px/48px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	padding: 0 58px 0 14px;
	height: 48px;
	outline: none;
	resize: none;
	overflow: hidden;
}

/*========================================================
                    footer
=========================================================*/
footer {
	padding: 70px 0;
	text-align: center;
	overflow: hidden;
	background: #057378;
}
footer p {
	font: 24px 'Questrial';
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: 0;
}
footer p a {
	color: #ffaf6d;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
footer p a:hover {
	color: #ffffff;
}
footer em {
	font-style: normal;
}
footer hr {
	display: block;
	width: 197px;
	margin: 0 0 21px 0;
	border-top: 1px solid #42a9ac;
}
footer figure {
	margin-bottom: 19px;
}
footer .col-lg-6 {
	margin-bottom: 36px;
	text-align: left;
}
footer .col-lg-6 hr {
	text-align: left;
}
/*========================================================
                RESPONSIVE LAYOUTS STYLES
=========================================================*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*===========================================================================================================================*/
@media (min-width: 992px) and (max-width: 1219px) {
 #toTop {
 display: none !important;
}
 .thumb-box1 .title3 {
 font-size: 34px;
}
 .thumb-box3 {
 padding-bottom: 30px;
}
 .errorBox1 img {
 width: 100%;
}
 footer img {
 width: 100%;
}
}
/*===========================================================================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
 #toTop {
 display: none !important;
}
 .thumb-box1 .title3 {
 font-size: 34px;
}
 .thumb-box2,  .thumb-box3,  .thumb-box4 {
 padding-bottom: 60px;
}
 .thumb-box2 figure img,  .thumb-box3 figure img,  .thumb-box4 figure img {
 width: auto;
}
 .errorBox1 img {
 width: 100%;
}
 footer img {
 width: 100%;
}
}
/*===========================================================================================================================*/
@media (max-width: 767px) {
 #toTop {
 display: none !important;
}
 nav.tm_navbar {
 width: 100%;
}
 nav.tm_navbar .nav {
 display: none;
}
 h2 {
 font-size: 30px;
 line-height: 50px;
}
 h3 {
 font-size: 20px;
 line-height: 30px;
}
 header .box {
 padding: 0 15px;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #057378;
 background: #057378;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .thumb-box1 .title3 {
 font-size: 34px;
}
 .thumb-box2,  .thumb-box3,  .thumb-box4 {
 padding-bottom: 60px;
}
 footer img {
 width: 100%;
}
 .thumb-box1 .title4::after {
 content: none;
 display: none;
}
 .thumb-pad4 figure {
 margin: 0 23px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .who-box .col-lg-4 {
 margin-bottom: 70px;
}
 #options .pagination {
 text-align: center;
}
 #options .pagination li {
 display: inline-block;
 float: none;
}
 .errorBox h2 {
 font-size: 60px;
 line-height: 60px;
}
 .errorBox h3 {
 font-size: 45px;
 line-height: 45px;
}
 .map iframe {
 height: 300px;
}
}
/*===========================================================================================================================*/
@media (max-width: 626px) {
 .thumb-pad4 figure {
 margin: 0 0 23px 0;
 float: none;
}
 .errorBox1 img {
 width: 100%;
}
}
/*===========================================================================================================================*/
/*===========================================================================================================================*/
@media (max-width: 480px) {
 .col-xs-6 {
 width: 100%;
 float: none;
}
 .bg_pic p {
 font-size: 20px;
 line-height: 34px;
}
 .thumb-pad1 .thumbnail .title {
 margin: 0 0 30px 0;
 float: none;
}
 .list1 {
 text-align: center;
}
 .list1 li {
 margin: 15px;
 float: none;
 display: inline-block;
}
 #options .pagination li {
 margin: 0 0 10px 0 !important;
 display: block;
}
 #options .pagination li a {
 width: 100%;
}
}
/*===========================================================================================================================*/
@media (max-width: 320px) {
 .col-xs-4 {
 width: 100%;
 float: none;
}
 .col-xs-6 {
 width: 100%;
 float: none;
}
}
/*===========================================================================================================================*/
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
